body{
    margin: 0 auto;
    overflow-x: hidden;
    background-image: url(/img/anastase-maragos-wZj5WdRT6Y0-unsplash.jpg)
}

.navbar{
    height: 8em;
    background-color: #017AEB;
    margin: 0px;
}

.navbar-nav{
    position: relative;
    top: 2em;
}


.navbar a{
    color: lightcyan;
}

.navbar .active{
    background-color: blue;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: rgb(3, 209, 209);
}

.img-thumbnail{
    height:6em;
    width:6em;
    border: none;
    position: relative;
    bottom: 14px;
}

.jumbotron{
    background-image: url(/img/reddragon.png);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(171, 186, 253);
    height: 33em;
    margin: 0px;
    padding: 0px;
}

.jumbo-text{
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    text-align: center;
}

.jumbotron h1{
    color: white;
}

.box{
    background-color: rgba(0,0,0,0.5);
    padding: 1em;
    position: relative;
    top: 5em;
}

.homepage-transitions{
    height: 20em;
    width: 12em;
    background-color: rgb(83, 172, 255,0.8);
    transition: width 2s;
    text-align: center;
}

.homepage-transitions:hover{
    width: 100%;
}

.homepage-text{
    position: relative;
    top: 3em;
    color: black;
    padding-left: 10px;
}

.homepage-text a:hover, a:link{
    color: black;
}

.img-me{
    position: relative;
    top: 4em;
    left: 4em;
}

.img-me img{
    border: cyan solid 3px;
}

.content-text-me{
    height: 30em;
}

.about-me-text{
    position: relative;
    left: 24em;
    top: 1em;
    background-color: white;
    border: solid 1px cyan;
}

.about-me-text p{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}


.whitespace-projects{
    height: 10em;
}


.project-transitions{
    height: 5em;
    width: 50em;
    background-color: rgb(83, 172, 255,0.8);
    transition: width 1s;
    text-align: center;
    position: relative;
    left: 27em;
}



.project-transitions:hover{
    width: 60em;
    background-color: rgb(77, 77, 255);
}



.contact-sheet h1{
    font-family: 'Merriwinkle', sans-serif;
    font-weight: 800;
    color: whitesmoke;
}

.contact-sheet p{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}

.whitespace{
    height: 20em;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


label{
    margin-bottom: 1em;
}


.footer{
    background-color: #017AEB;
}


.footer-contact{
    margin-left: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: white;
}

.fab{
    font-size: 2em;
    position: relative;
    left: 4em;
    margin-right: 2em;
    color: antiquewhite;
}

